-# encoding: utf-8
- content_for :head do
  =stylesheet_link_tag 'supersized', 'stays/new'
  = javascript_include_tag 'stays/new'
  
#textHome
  = link_to image_tag( 'image-1.png'), 'http://www.residencegoldwyn.fr', :class => 'vignette'
  %h1.residence
    Résidence Goldwyn
  %p.intro 
    = t(:intro)
    %br
    = link_to t(:discover_residence), 'http://www.residencegoldwyn.fr', :class => 'linkedin'


:javascript
  var images_to_display= "#{@images_to_display.map(&:to_s).join(',')}";
  images_to_display= images_to_display.split(",");
  images_to_display= images_to_display.map(function(url){
    return {image : url, title: "Oxynum", url: "http://www.oxynum.fr"};
  });

//%a#prevslide.load-item
//%a#nextslide.load-item