=form_tag "/stays", :method => "post" do
  = label_tag :user_email, "e-mail :" 
  = text_field :user, :email
  
  = label_tag :arrival_date, "Date d'arrivée"
  = text_field :stay, :arrival_date
  
  = label_tag :departure_date, "Date de départ"
  = text_field :stay, :departure_date
  
  = label_tag :quantity, "Nombre de personnes"
  = select :stay, :quantity, 1..5
  
  = submit_tag "Réserver"

= link_to "Retour à l'accueil", root_path

:javascript
  $(function() {
    $.datepicker.setDefaults($.datepicker.regional['fr']);
    $( "#stay_arrival_date" ).datepicker({
      minDate: 0,
      defaultDate: "+1w",
      regional: "fr",
      dateFormat: "dd/mm/yy",
      changeMonth: true,
      showOtherMonths:true,
      selectOtherMonths: true,
      onSelect: function( selectedDate ) {
        currentDate= $("#stay_arrival_date").datepicker("getDate")
      	$( "#stay_departure_date" ).datepicker( "option", "minDate",new Date(currentDate.getFullYear(), currentDate.getMonth(), currentDate.getDate() + 1));
      }
      });
    $( "#stay_departure_date" ).datepicker({
      minDate: 1,
      defaultDate: "+1w",
      dateFormat: "dd/mm/yy",
      showOtherMonths:true,
      selectOtherMonths: true,
      changeMonth: true,
      onSelect: function( selectedDate ) {
        currentDate= $("#stay_departure_date").datepicker("getDate")
      	$( "#stay_arrival_date" ).datepicker( "option", "maxDate", new Date(currentDate.getFullYear(), currentDate.getMonth(), currentDate.getDate() - 1) );
      }
    });
  });