-# encoding: utf-8
#logo
  %h1
    %span Résidence Goldwyn

#initform
  =form_tag "/stays", :method => "post" do 
    = field_set_tag "", :class => 'arrival_date' do
      = label_tag :arrival_date, "Date d'arrivée :"
      = text_field :stay, :arrival_date
    = field_set_tag "", :class => 'departure_date' do
      = label_tag :departure_date, "Date de départ :"
      = text_field :stay, :departure_date    
    = field_set_tag "", :class => 'people' do
      = label_tag :quantity, "Nombre d'adultes :"
      = select :stay, :number_of_adults, 1..5
    = field_set_tag "", :class => 'rooms' do
      = label_tag :quantity, "Nombre d'enfants :"
      = select :stay, :number_of_children, 0..5
    
    = submit_tag "Réserver"
    %div
      = link_to "Retour à l'accueil", root_path
#textHome
  = link_to image_tag( 'image-1.png'), 'http://www.google.fr', :class => 'vignette'
  %h1.residence
    Résidence Goldwyn
  %p.intro 
    Un espace de prestige situé dans les quartiers résidentielle de la Croisette, Côte d'azur. Une prestation adapté à vos besoins, business, séjour, etc...
    = link_to "Découvrir la Résidence", 'http://www.google.fr', :class => 'linkedin'

//%a#prevslide.load-item
//%a#nextslide.load-item
#footer
  &copy; Résidence Goldwyn 2012, Cannes (croisettes) | SCI | contact: +33 280 78 09 67
  |
  = link_to "Conditions générales de ventes", cgv_path
  |
  = link_to "Agence et professionnel", pro_path 

