- (1..30).each do 
	%br

= form_tag agencies_path, :method => "post" do
	= label_tag :name, "Nom de l'agence : "
	= text_field :agency, :name
	= label_tag :tva_number, "Numéro de TVA intracommunautaire : " 
	= text_field :agency, :tva_number
	= label_tag :client_last_name, "Nom du client : "
	= text_field :agency, :client_last_name
	= label_tag :client_first_name, "Prénom du client : " 
	= text_field :agency, :client_first_name
	= label_tag :email, "email de contact : " 
	= email_field :agency, :email
	= label_tag :mobile_phone, "Téléphone portable :  " 
	= telephone_field :agency, :mobile_phone
	= label_tag :phone, "Téléphone : "
	= telephone_field :agency, :phone
	= label_tag :address, "Adresse : "
	= text_field :agency, :address 
	= label_tag :zip_code, "Code postal : "
	= text_field :agency, :zip_code
	= label_tag :country, "Pays : "
	= select_tag :country, options_for_select([['France', 'France'], ['Belgique', 'Belgique'], ['Corse', 'Corse'], ['Dom-Tom', 'Dom-Tom']])
	= label_tag :commentary, "Commentaires : "
	= text_area :agency, :commentary, ""
	= submit_tag "Demander un compte"