.general
	.lbl
		.firstconnect
			= link_to "Vous voulez obtenir un compte agence", new_agency_path
	=form_tag agencies_connect_path, :method => "post", :class =>"new_user" do
		.field
			= label_tag :id, "N° Id de l'agence :" 
			= text_field :agency, :id
		.field
			= label_tag :name, "Nom de l'agence :"  
			= text_field :agency, :name
		.field 		
			= label_tag :phone, "Nom de l'agence :" 
			= telephone_field :agency, :phone, :placeholder => "Téléphone de l'agence"
		= submit_tag