= form_tag "https://secure.ogone.com/ncol/test/orderstandard.asp", :method => :post, :name => "form1", :id => "form1",  do
	=hidden_field_tag "accepturl", "http://www.residencegoldwyn.fr/confirmation"
	=hidden_field_tag "amount", "#{@stay.rooms.map(&:week_price).sum}"
	=hidden_field_tag "cancelurl", "http://www.residencegoldwyn.fr/payment_cancel"
	=hidden_field_tag "CN", "#{@stay.user.try(:name)}"
	=hidden_field_tag "currency", "EUR"
	=hidden_field_tag "declineurl", "http://www.residencegoldwyn.fr/payment_error"
	=hidden_field_tag "EMAIL", "#{@stay.user.try(:email)}"
	=hidden_field_tag "exceptionurl", "http://www.residencegoldwyn.fr/payment_warning"
	=hidden_field_tag "language", "fr_FR"
	=hidden_field_tag "owneraddress", "#{@stay.user.try(:address)}"
	=hidden_field_tag "orderID", "#{@stay.id}"
	- #=hidden_field_tag "ownercty", ""
	=hidden_field_tag "ownertelno", "#{@stay.user.try(:phone)}"
	- #=hidden_field_tag "ownertown", ""
	- #=hidden_field_tag "ownerZIP", ""
	=hidden_field_tag "PSPID", "residencegoldwyn"

	=hidden_field_tag "SHASign", Digest::SHA1.hexdigest("ACCEPTURL=http://www.residencegoldwyn.fr/confirmationcerisepommefraise23AMOUNT=#{@stay.rooms.map(&:week_price).sum}cerisepommefraise23CANCELURL=http://www.residencegoldwyn.fr/payment_cancelcerisepommefraise23CN=#{@stay.user.name}cerisepommefraise23CURRENCY=EURcerisepommefraise23DECLINEURL=http://www.residencegoldwyn.fr/payment_errorEMAIL=#{@stay.user.email}EXCEPTIONURL=http://www.residencegoldwyn.fr/payment_warningcerisepommefraise23LANGUAGE=fr_FRcerisepommefraise23OWNERADDRESS=#{@stay.user.try(:address)}cerisepommefraise23ORDERID=#{@stay.id}cerisepommefraise23OWNERTELNO=#{@stay.user.try(:phone)}cerisepommefraise23PSPID=residencegoldwyncerisepommefraise23")

	=submit_tag "Accéder au paiement"