-# encoding: utf-8
.resa
  %h2= t(:avalaible_rooms)
  #avalaible
    = form_tag edit_stay_path(@stay), :method => :get do
      = submit_tag "Valider votre réservation"
      - unless @avalaible.nil?
        - @avalaible.each do |room|
          .room{:id => "show_room_#{room.id}"}
            = image_tag room.image.url, :size => "150x150", :class => "imgRoom"
            .content
              %h3.name 
                = room.name
              .desc
                = room.description
              .size
                = room.dimension
              .number
                = room.number_of_rooms.to_s+" Pièce(s)"
              .sleep
                = room.sleeping
              = link_to(t(:details), room_path(room))
            .info
              %span.check
                = check_box :room, room.id
              %span.price
                = room.week_price.to_s
                %span.labelPrice
                  = "€/"+t(:week)
            .clear
      = submit_tag "Valider votre réservation"
  - unless @reserved.nil?||@reserved.empty?    
    %h2 Chambre(s) non disponible(s)
    #reserved
      - @reserved.each do |room|
        .room{:id => "show_room_#{room.id}"}
          = image_tag room.image.url, :size => "150x150", :class => "imgRoom"
          .content
            %h3.name 
              = room.name
            .desc
              = room.description
            .size
              = room.dimension
            .number
              = room.number_of_rooms.to_s+" Pièce(s)"
            .sleep
              = room.sleeping
            = link_to(t(:details), room_path(room))
          .info
            %span.price
              = room.week_price.to_s
              %span.labelPrice
                = "€/"+t(:week)
          .clear