%h1
  Disponible
#avalaible
  = form_tag edit_stay_path(@stay), :method => :get do
    - unless @avalaible.nil?
      - @avalaible.each do |room|
        %div{:id => "show_room_#{room.id}", :class => "room"}
        = room.name
        = room.description
        = room.dimension
        = room.number_of_rooms.to_s
        = room.sleeping
        = image_tag room.image_url, :size => "150x150"
        = room.day_price.to_s+"€/jour"
        = link_to("Voir les détails", room_path(room))
        = check_box :room, room.id
        %br
    = submit_tag "Accéder au paiement"
%h1 
  Réservé ou occupé
#reserved
  - unless @reserved.nil?
    - @reserved.each do |room|
      = "toto"
      = room.name
      = room.description
      = room.dimension
      = room.number_of_rooms.to_s
      = room.sleeping
      = image_tag room.image_url, :size => "150x150"
      

