-# encoding: utf-8
- content_for :head do
  =stylesheet_link_tag "rooms"
.resa
  %h2 Disponible
  #avalaible
    = form_tag edit_stay_path(@stay), :method => :get do
      - unless @avalaible.nil?
        - @avalaible.each do |room|
          .room{:id => "show_room_#{room.id}"}
            = image_tag room.image.url, :size => "150x150", :class => "imgRoom"
            .content
              %h3.name 
                = room.name
              .desc
                = room.description
              .size
                = room.dimension
              .number
                = room.number_of_rooms.to_s+" Pièce(s)"
              .sleep
                = room.sleeping
              = link_to("Voir les photos et détails", room_path(room))
            .info
              .price
                = room.day_price.to_s+"€/jour"
              %span.check
                = check_box :room, room.id
            .clear
      = submit_tag "Accéder au paiement"
  %h2 Réservé ou occupé
  #reserved
    - unless @reserved.nil?
      - @reserved.each do |room|
        = image_tag room.image.url, :size => "150x150"
        = room.name
        = room.description
        = room.dimension
        = room.number_of_rooms.to_s
        = room.sleeping
      

