-# encoding: utf-8
%div{:id => "room_#{@room.id}", :class => "room"}
  .TbigImg
    = image_tag @room.image.url, :size => "400x400"
  .Tcontent
    .Tname 
      = @room.name
    .Tdesc 
      = @room.description
    .Tsize 
      = @room.dimension
    .Troom 
      = @room.number_of_rooms.to_s
      = @room.sleeping
    .Timg
      = image_tag @room.image.url, :size => "150x150"
      = image_tag @room.image_2.url, :size => "150x150"
      = image_tag @room.image_3.url, :size => "150x150"
      = image_tag @room.image_4.url, :size => "150x150"
      = image_tag @room.image_5.url, :size => "150x150"
  .Tback
    = link_to "Retour", rooms_path
