-# encoding: utf-8
- content_for :head do
  =stylesheet_link_tag "rooms"
%div{:id => "room_#{@room.id}", :class => "room"}
  = @room.name
  = @room.description
  = @room.dimension
  = @room.number_of_rooms.to_s
  = @room.sleeping
  = image_tag @room.image.url, :size => "150x150"
  = link_to "Retour", rooms_path
#footer
  &copy; Résidence Goldwyn 2012, Cannes (croisettes) | SCI | contact: +33 280 78 09 67
  |
  = link_to "Conditions générales de ventes", '/cgv/index.html'
  |
  = link_to "Agence et professionnel", '/pro/index.html'