-# encoding: utf-8
- content_for :head do
  =stylesheet_link_tag "rooms"
%div{:id => "room_#{@room.id}", :class => "room"}
  = @room.name
  = @room.description
  = @room.dimension
  = @room.number_of_rooms.to_s
  = @room.sleeping
  = image_tag @room.image.url, :size => "150x150"
  = link_to "Retour", rooms_path