-# encoding: utf-8
!!!
%html
  %head
    %title ResidenceGoldwyn
    = stylesheet_link_tag 'application', 'supersized', 'stays/new'
    = javascript_include_tag "application", "stays/new"
    = csrf_meta_tags
    = favicon_link_tag "favicon.ico"
  %body
    %p.notice= notice
    %p.alert= alert
    = yield     
    