-# encoding: utf-8
!!!
%html
  %head
    %title ResidenceGoldwyn
    = stylesheet_link_tag 'application', "rooms"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag "favicon.ico"
    - if I18n.locale == :en
      = javascript_include_tag "language_choice/jquery.ui.datepicker-en"
    - else
      = javascript_include_tag "language_choice/jquery.ui.datepicker-fr"

    = javascript_include_tag "datepicker"
    = yield :head
  %body
    - if user_signed_in?
      = link_to 'Sign out', destroy_user_session_path, :method => :delete, class: "signout"
    - if notice || alert
      %p.notice= notice
      %p.alert= alert
    #logo
      %h1
        %span Résidence Goldwyn

    #initform
      - arrival_date= @stay.nil? ? "" : "#{@stay.arrival_date.day}/#{@stay.arrival_date.month}/#{@stay.arrival_date.year}"
      - departure_date= @stay.nil? ? "" : "#{@stay.departure_date.day}/#{@stay.departure_date.month}/#{@stay.departure_date.year}"
      #week-picker
      =form_tag "/stays", :method => "post" do 
        = field_set_tag "", :class => 'arrival_date'  do
          = label_tag :arrival_date, t(:arrival_date)
          = text_field_tag :fake_arrival_date, arrival_date, :disabled => "disabled"
          = hidden_field :stay, :arrival_date, :value => arrival_date
        = field_set_tag "", :class => 'departure_date' do
          = label_tag :departure_date, t(:departure_date)
          = text_field_tag :fake_departure_date, departure_date, :disabled => "disabled"
          = hidden_field :stay, :departure_date, :value => departure_date
        = field_set_tag "", :class => 'people' do
          = label_tag :quantity, t(:number_of_adults)
          = select :stay, :number_of_adults, 1..5
        = field_set_tag "", :class => 'rooms' do
          = label_tag :quantity, t(:number_of_children)
          = select :stay, :number_of_children, 0..5
        = submit_tag t(:reservation)
    //%div.backto
    //  = link_to t(:back_to_homepage), root_path

    = yield

    #footer
      © Résidence Goldwyn 2012, Cannes (croisettes) | SCI | Contact: +33 280 78 09 67
      |
      = link_to t(:cgv), cgv_path
      |
      = link_to t(:agencies_and_pros), pro_path   
      |
      =link_to t(:language_change), (I18n.locale == :en) ? url_for(:locale => :fr) : url_for(:locale => :en)